body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right,rgb(186, 206, 240), #00c6ff, #0072ff);
    font-family: Arial, sans-serif;
    margin: 0;
}

.container {
    text-align: center;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input, button {
    margin: 10px;
    padding: 10px;
    font-size: 16px;
}

#getWeatherBtn:hover{
    background-color: #83d6ed4f;
}

.hidden {
    display: none;
}
